
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
/* ---- typography ---- */

body {
  color: #111;
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 147%;
}

button {
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 40px;

}

.instructions {
  margin: 0;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  line-height: 0%;
}

p {
  margin: 0;
}



/* ---- layout ---- */

html, body {
  height: 100%;
}

.splash body{
  background-color: red;
}

.container {
  margin: 0 20px;
}

.splash .wrap {
  padding-top: 20px;
  margin: 0 auto;
}

button {
  background-color: orange;
  border: 3px solid black;
  border-radius: 40px;
  padding: 25px;

}

.splash h1{
  margin-top: 20px;
  text-align: center;
  font-weight: normal;
  color: rgb(255, 230, 0);
  text-transform: uppercase;
  font-size: 8em;
  white-space: nowrap;
  font-size: 120px;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(7, 6, 0, 0.966);
}

/* @media screen and (max-width: 50em) {
  h1 {
    font-size: 18vw;
   }
} */

.chicken-img{
  position: relative;
  float: right;
  margin-top: -145px;
}


.gameover .chicken-img{
  margin: 20px;
  position: absolute;
  float: right;
  width: 200px;
  height: 120px;
}



/* @media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
 */




/* ---- components ---- */


.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
}

.game .lives {
  flex: 1;
}


.game .round {
  flex: 1;
}

.game .timer {
  flex: 1;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: italic;
}

.game .canvas {
  flex: 1;
}

.gameover {
  text-align: center;
} 