body {
  color: #111;
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 147%;
}

button {
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 40px;

}

.instructions {
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  line-height: 0%;
}

p {
  margin: 0;
}
